.show-counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 3em;
  margin-top: 20px;
  padding: 0.5rem;

  color: rgb(235, 151, 49);
}

@media only screen and (max-width: 960px) {
  .counter {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 820px) {
  .counter {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 660px) {
  .counter {
    font-size: 2rem;
  }
  span {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 570px) {
  .counter {
    font-size: 1.5rem;
  }
  span {
    font-size: 1.5rem;
  }

  p {
    padding: 2px 5px 5px !important;
  }
}

@media screen and (max-width: 489px) {
  span {
    font-size: 1rem;
  }
}

.counter {
  align-items: center;
  display: flex;
  margin-top: 30px;
  flex-direction: row;
}

P {
  padding: 5px 10px 10px;
}

.pb-1,
.pb-2,
.pb-3 {
  border-right: 0.2px solid rgb(235, 151, 49);
  /*border-bottom: 1px solid rgb(235, 151, 49);*/
}

.pb-4 {
  /*border-bottom: 1px solid rgb(235, 151, 49);*/
}
