.slider {
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 400px;
  width: 600px;
  border-radius: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: rgb(235, 151, 49);
  z-index: 10;
  cursor: pointer;
  user-select: none;
  transition: 0.5s;
}

.right-arrow:hover {
  transform: scale(1.1);
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: rgb(235, 151, 49);
  z-index: 10;
  cursor: pointer;
  user-select: none;
  transition: 0.5s;
}

.left-arrow:hover {
  transform: scale(1.1);
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1.5s;
  transform: scale(1.05);
}

@media screen and (max-width: 1145px) {
  .image {
    height: 400px;
    width: 525px;
    border-radius: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1073px) {
  .image {
    height: 375px;
    width: 450px;
    border-radius: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 957px) {
  .image {
    height: 300px;
    width: 400px;
    border-radius: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 868px) {
  .image {
    height: 250px;
    width: 350px;
    border-radius: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .image {
    height: 400px;
    width: 550px;
    border-radius: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 590px) {
  .left-arrow {
    font-size: 2.5rem;
  }

  .right-arrow {
    font-size: 2.5rem;
  }

  .left-arrow:hover {
    transform: scale(1.1);
  }

  .right-arrow:hover {
    transform: scale(1.1);
  }

  .slider {
    height: 400px;
  }

  .image {
    width: 375px;
    height: 275px;
  }
}
